{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}


{% block content %}

          <li>
            <a href="{{ path('app_dashboard') }}">
              <i class="nc-icon nc-bank"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li>
              <a href="{{ path('app_evenement_index') }}">
            <i class="nc-icon nc-single-02"></i>
              <p>Evenement</p>
            </a>
          </li> 

      <li class="active">
            <a href="{{ path('app_reservation_index') }}">
            <i class="nc-icon nc-tile-56"></i>
              <p>Reservation</p>
            </a>
          </li>
          

{% endblock %}



{% block body %}




    <h1>Reservation </h1>

    <table  id="myTable" class="table">
        <thead>
            <tr>
               
                <th>Date</th>
                <th>Description</th>
                <th>evenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
              
                <td>{{ reservation.date ? reservation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.des }}</td>
                  <td>{{ reservation.evenement.nom }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}"><i class="fas fa-2x fa-eye"></i></a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"><i class="fas fa-2x fa-edit"></i></a>
                      {{ include('reservation/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{nombre}}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{nombre}}
  </div>
</div> 

   {#} <a href=" path('app_reservation_new') }}"><i class="fas fa-3x fa-plus-circle"></i></a>
{#}

{% endblock %}
